<form [formGroup]="octaForm" style="margin-left:10px" (ngSubmit)="processForm()">
    
    Master Equity: 
    <input type="text" formControlName="masterEq">
    <br><br>

    Estimated Master Equity: {{ masterEstEq }}
    <br><br>

    My Capital:
    <input type="text" formControlName="capital">
    <br><br>

    Proportion to follow: {{ copyProp }}X
    <br><br>

    Shield: {{ shield }} out of {{ capital }}
    <br><br>

    <p>For every $2 trade the master makes, you make:</p>
    ${{ estTwoDollars }}
    <br><br>

    <p>Projected weekly return at {{weeklyReturn * 100}}%:</p>
    ${{ weeklyReturn * masterEstEq }}

    <p>Projected monthly return at {{weeklyReturn * 100}}%:</p>
    ${{ weeklyReturn * masterEstEq * 4 }}

    <p>Projected yearly return at {{weeklyReturn * 100}}%:</p>
    ${{ weeklyReturn * masterEstEq * 4 * 12}}
</form>