<h1> From Parent: Data = {{data}}</h1>

<h1>Game Component</h1>
<h2>OnChanges test: {{ changeTester }}</h2>
<form [formGroup]="gamesForm" style="margin-left: 10px" (ngSubmit)="processForm()">
    Games per page:
    <select formControlName="limit">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
    </select>

    <button type="submit" (click)="onPrev()">Previous</button>
    <button type="submit" (click)="onNext()">Next</button>

    <button type="button" (click)="processForm()">Test Spring Boot</button>
</form>

<div *ngFor="let game of tempArr">
  <p>
    {{ game.game_id}}: {{ game.name }}
  </p>
</div>